<p id="notice"><%= notice %></p>

<h1>Student Details</h1>

<table cellpadding="25">
	<tr>
		<td align="right">Name:</td>
		<td><%= @student.name %></td>
	</tr>

	<tr>
		<td align="right">Classes:</td>
		<td><%= link_to "View #{pluralize(@student.class_schedules.size, 'Class')}", polymorphic_path([@student, ClassSchedule]) %></td>
	</tr>
</table>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
