<p id="notice"><%= notice %></p>

<h1>Subject Details</h1>

<h1><%= starred_rating(@subject.ratings, '2x') %></h1>

<table cellpadding="25">
	<tr>
		<td align="right">Code:</td>
		<td><%= @subject.code %></td>
	</tr>

	<tr>
		<td align="right">Name:</td>
		<td><%= @subject.name %></td>
	</tr>

	<tr>
		<td align="right">Classes:</td>
		<td><%= link_to "View #{pluralize(@subject.class_schedules.size, 'Class')}", polymorphic_path([@subject, ClassSchedule]) %></td>
	</tr>

	<tr>
		<td align="right">Instructors:</td>
		<td><%= link_to "View #{pluralize(@subject.professors.distinct.size, 'Instructor')}", polymorphic_path([@subject, Professor]) %></td>
	</tr>

	<tr>
		<td align="right">Reviews:</td>
		<td><%= link_to "View #{pluralize(@subject.reviews.size, 'Review')}", polymorphic_path([@subject, Review]) %></td>
	</tr>
</table>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
